html(ng-app='app')
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='styles/vendor.css')
  link(rel='stylesheet' href='angular-mn-input.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }

body
  form(ng-controller='IndexController as controller', name='form', novalidate)
    h2 mn-input
    div
      mn-input(placeholder='Fullname', ng-model='controller.credentials.username', required, name='name')
    //- div
      mn-input(placeholder='Username', ng-model='controller.credentials.username', required, name='username')

      mn-input(placeholder='Password', type='password', ng-model='controller.credentials.password', required, name='password')
      mn-input(placeholder='Input Password', type='password', disabled, ng-model='controller.credentials.password')
    //- div
      mn-input(placeholder='Email', type='email', ng-model='email')

    //- div
      mn-input.flex(name='id' placeholder='username' ng-model='controller.credentials.id' required)
    
    button(type='submit') Submit

  //- div
    h2 mn-input[disabled]
    mn-input(placeholder='Input', disabled)

  //- div
    h2 mn-input[type='text']
    mn-input(placeholder='Username')

  //- div
    h2 mn-input[type='password']
    mn-input(placeholder='Password', type='password')

  //- div
    h2 mn-input[type='email']
    mn-input(placeholder='Email', type='email')

  script(src='vendor.js')
  script(src='angular-mn-input.js')
  script.
    angular.module('app', [
      'mn-input',
    ]);

    angular
      .module('app')
      .controller('IndexController', IndexController);

    function IndexController() {
      this.credentials = {
        username: undefined,
        password: undefined,
      };
    }

